{% extends "base.html" %}
{% block content %}
<h1 class="display-1 mb-4 text-center">Articles</h1>
{% for i in all_arts %}
<div class="container">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-9" style="border-right: 1px solid #ccc;">
                    <h2 class="card-title">{{i.title}}</h2>
                    <h4 class="text-muted card-subtitle mb-2">{{i.subtitle}}</h4>
                    <h6>{{i.author}}</h6>
                    <p>{{i.date}}</p>
                    <p class="card-text">{{i.summary}}</p><a class="card-link" href="{{url_for('article', n = i.article_id)}}">Read More</a>
                </div>
                <div class="col-3 justify-content-center align-self-center">
                    <img class="img-fluid align-self-center" src="{{url_for('static',filename='img/{}.jpg'.format(i.article_id))}}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{% endblock %}