{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-9" style="border-right: 1px solid #ccc;">
                    <h2 class="card-title">Cracking DNA and data storage</h2>
                    <h4 class="text-muted card-subtitle mb-2">Finding Data Storage Solution in Nature</h4>
                    <h6>John Kryzbek | New Haven </h6>
                    <p>October 20th, 2020</p>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Read More</a>
                </div>
                <div class="col-3 justify-content-center align-self-center">
                    <img class="img-fluid align-self-center" src="{{url_for('static',filename='img/dna.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-9" style="border-right: 1px solid #ccc;">
                    <h2 class="card-title">Working With Unbounded Data Sets</h2>
                    <h4 class="text-muted card-subtitle mb-2">Breaking Down NASA's Big Numbers</h4>
                    <h6>J. I. Cruz Ruiz | Puerto Rico </h6>
                    <p>October 7th, 2020</p>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Read More</a>
                </div>
                <div class="col-3 justify-content-center align-self-center">
                    <img class="img-fluid align-self-center" src="{{url_for('static',filename='img/nasa.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-9" style="border-right: 1px solid #ccc;">
                    <h2 class="card-title">SQL vs. NoSQL databases</h2>
                    <h4 class="text-muted card-subtitle mb-2">It's all about fit</h4>
                    <h6>Jean de Richaud | Tunisia </h6>
                    <p>Sept 30th, 2020</p>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Read More</a>
                </div>
                <div class="col-3 justify-content-center align-self-center">
                    <img class="img-fluid align-self-center" src="{{url_for('static',filename='img/sqlvsnosql.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-9" style="border-right: 1px solid #ccc;">
                    <h2 class="card-title">Decolonizing the data</h2>
                    <h4 class="text-muted card-subtitle mb-2">Western Bias in Census Data</h4>
                    <h6>J. A. Thomas | Uraguay </h6>
                    <p>September 15th, 2020</p>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Read More</a>
                </div>
                <div class="col-3 justify-content-center align-self-center">
                    <img class="img-fluid align-self-center" src="{{url_for('static',filename='img/decolonize.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-9" style="border-right: 1px solid #ccc;">
                    <h2 class="card-title">The Coming Data Storage Crunch</h2>
                    <h4 class="text-muted card-subtitle mb-2">Data Compression and Retention Policy into the Next Century</h4>
                    <h6>Michel Guichet | France </h6>
                    <p>September 1st, 2020</p>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Read More</a>
                </div>
                <div class="col-3 justify-content-center align-self-center">
                    <img class="img-fluid align-self-center" src="{{url_for('static',filename='img/data.png')}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-9" style="border-right: 1px solid #ccc;">
                    <h2 class="card-title">Database Optimization for the 21st Century</h2>
                    <h4 class="text-muted card-subtitle mb-2">The Best of all Possible Worlds</h4>
                    <h6>G. G. Bernal | Mexico City </h6>
                    <p>August 27th, 2020</p>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Read More</a>
                </div>
                <div class="col-3 justify-content-center align-self-center">
                    <img class="img-fluid align-self-center" src="{{url_for('static',filename='img/config.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-9" style="border-right: 1px solid #ccc;">
                    <h2 class="card-title">Gender Bias in Large Data Sets</h2>
                    <h4 class="text-muted card-subtitle mb-2">A Brief History</h4>
                    <h6>J. Hernandez | Cali </h6>
                    <p>August 17th, 2020</p>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Read More</a>
                </div>
                <div class="col-3 justify-content-center align-self-center">
                    <img class="img-fluid align-self-center" src="{{url_for('static',filename='img/gender.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-9" style="border-right: 1px solid #ccc;">
                    <h2 class="card-title">Meet the Newest Data Type: the Braj</h2>
                    <h4 class="text-muted card-subtitle mb-2">The New Data Type will have you Saying "What the Braj?"</h4>
                    <h6>M. Khalil | Beruit </h6>
                    <p>August 12th, 2020</p>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Read More</a>
                </div>
                <div class="col-3 justify-content-center align-self-center">
                    <img class="img-fluid align-self-center" src="{{url_for('static',filename='img/wtb.gif')}}" alt="">
                    <img class="img-fluid align-self-center" src="{{url_for('static',filename='img/IKR.gif')}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-9" style="border-right: 1px solid #ccc;">
                    <h2 class="card-title">5 essential skills for any DBA</h2>
                    <h4 class="text-muted card-subtitle mb-2">How to fast track leveling up from Jr. to Sr. DBA </h4>
                    <h6>Tabitha O'Melay | San Francisco </h6>
                    <p>August 1st, 2020</p>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Read More</a>
                </div>
                <div class="col-3 justify-content-center align-self-center">
                    <img class="img-fluid align-self-center" src="{{url_for('static',filename='img/download.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}