{% extends "base.html" %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div>
                        <h1 class="display-3 text-center">{{sing_art.title}}</h1>
                        <h2 class="article-sub-title text-center">{{sing_art.subtitle}}</h2>
                        <p class="text-center"> {{sing_art.author}} | {{sing_art.date}}</p>
                    </div>
                    
                    <div class="about-p mb-4">
                        {{sing_art.body|safe}}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}