{% extends "base.html" %}
{% block content %}
<dir class="container">
    <section>
        <article class="d-flex d-xl-flex flex-column justify-content-xl-center">
            <div class="jumbotron">
                <h5>Featured Article</h5>
                <h1>MongoDB vs. mySQL: Pros and Cons</h1><small>By Tabitha O'Melay</small>
                <p class="test">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p><a class="btn btn-primary" role="button">Learn more</a></p>
            </div>
        </article>
    </section>
</dir>
{% endblock %}